:root {
    --text_color: #944fa0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

html {
    line-height: 1.15;
}

a {
    text-decoration: none;
    color: var(--text_color);
}

a:hover {
    color: #928cd4;
}





/*  maf changes  */ 




/* glass css */

.glass {
    content: '';
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    overflow: hidden;
}

/* glass end*/





/* button css */

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #ffffff;
    border-radius: 8px;
    border-width: 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #665dc3;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
    font-weight: 500;
    width: 160px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 300px) {
    .button-30 {
        width: 100px;
    }
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* button end*/







.logo {
    width: 50px;
}

.main {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: 0;
}

.description {
    margin-top: 40px;
}

.panels {
    margin-top: 70px;
    margin-bottom: 55px;
    background-color: #eeeeee;
    box-shadow: rgb(255 255 255 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0px 0px 20px 4px, #d6d6e7 0 -3px 0 inset;
    padding: 10px;
    border-radius: 16px;
    height: 570px;
}


.prei {
    font-size: 35px;
}

.prei a {
    font-size: 30px;
    font-weight: 600;
}


.adv {
    padding: 6px;
    color: #36395A;
    font-size: 20px;
    line-height: 2.1rem;
    font-weight: 500;
}

.vers {
    margin-bottom: 30px;
    margin-top: -44px;
}

.yt {
    margin-top: 60px;
}

.yt img {
    width: 100%;
}

.windows{
    display: flex;
}
.win-block{
    width: 45px;
    height: 45px;
    margin-left: 12px;
}

.versions ul{
    list-style: none;
}

.versions {
    margin-bottom: 90px;
}

.last {
    font-size: 20px;
}

.last-data {
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.7;
}

.descr {
    font-size: 20px;
}

.demo h1 {
    font-size: 30px;
}

.demo a {
    font-size: 30px
}

.ac {
    margin-top: 15px;
}

.ach {
    font-size: 30px;
}

.achh {
    font-family: &#39;Ubuntu&#39;, sans-serif;
}

.anti-cheat {
    align-items: center;
}

.work {
    margin-top: 15px;
}

.work-h1 {
    font-size: 30px;
}


/*  end   */


body {
    background: #eeeeee;
    /* background-image: url("https://i.pinimg.com/originals/63/55/d2/6355d29e494191bafa64b2a6a874513c.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center; */
}

li,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #36395A;
}

.navbar_brand {
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

div {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .17;
    /* background: #37373c; */
    /* background: -webkit-linear-gradient(45deg, #333333 0%, #1e1e1e 100%); */
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.youtube_video {
    width: 100%;
    height: 300px;
}


/* @media (max-width: 576px) {
    .youtube_video {
        width: 100%;
    }
} */

.slider-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.div_text_pre {
    padding-right: 0;
    padding-left: 0;
    text-align: center!important;
    flex: 0 0 50%;
    max-width: 50%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.h1_def {
    display: block;

    font-size: 70px;
    padding: 0;
    margin: 0;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.2;
    font-weight: 200;
}

strong {
    color: var(--text_color);
}

@media (max-width:1490px) {
    .h1_resize {
        font-size: 65px;
    }
}

@media (width < 890px) {
    .h1_resize {
        font-size: 50px;
        margin-top: 10%;
    }
}

@media (max-width:890px) {
    .h1_resize {
        font-size: 50px;
    }
}

@media (max-width:590px) {
    .h1_resize {
        font-size: 40px;
    }
}

@media (max-width:490px) {
    .h1_resize {
        font-size: 35px;
    }
}

@media (max-width:340px) {
    .h1_resize {
        font-size: 30px;
    }
}

@media (max-width:260px) {
    .h1_resize {
        font-size: 20px;
    }
}

li {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}